/* .header {
  background: #000;
  width: Fixed (1, 440px);
  height: Hug (56px);
  padding: 12px, 16px, 12px, 16px;
}
input {
  background: url("https://crushingit.tech/hackathon-assets/icon-search.svg")
    top left no-repeat;
  height: 30px;
  padding-left: 25px;
  display: flex;
  justify-content: space-between;
} */
